*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
}
html { 
  box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #121212;
}
::-webkit-scrollbar-thumb{
    background: #2B2B2B;
    border-radius: 5px;
    
}
:root{
    --mainColor: #212121;
    --secondColor: #1a1a1a;
    --projectBoxSize: 15vw;
}
main{
    overflow-x: hidden;
}
footer{
    width: 99vw;
    height: 8vw;
    position: absolute;
    display : flex;
    flex-direction : row;
    justify-content: space-between;
}
section{
    width: 100vw;
    background: #1a1a1a;
    position: relative;
}
section:nth-child(odd){
    background: #212121;
}
nav{
    margin: 2.08vw;
    position: relative;
    left: -2vw;
    margin:max(20px, 2.08vw);
    z-index: 69;
}
a{
    z-index: 69;
    cursor: default;
}
a.navlink{
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: max(25px,2.5vw);
    text-decoration: none;
    text-shadow: 0px 0.4166666vw 0.4166666vw rgba(0, 0, 0, 0.6);
    transition: text-shadow 0.5s;
    cursor: pointer;
}
a.navlink:hover{
    text-shadow: 0px 0.3vw 0.3vw rgba(255, 255, 255, 0.6);
}
.github{
    margin: max(20px, 2.08vw);;
    height: max(50px, 4.6875vw);
    cursor: pointer;
}
.mainSection{
    height: 100vh;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}
.mainWrapper{
    position: relative;
    left: -10vw;
    z-index: 69;
}
.title{
    cursor: default;
    font-family: Poppins;
    font-style: normal;
    color: #ffffff;
    text-shadow: 0px 0.625vw 0.20833333333333334vw rgba(255, 255, 255, 0.25);
    position: relative;
}
.titleMain{
    font-weight: bold;
    font-size: 10.41vw;
    line-height: 15.625vw;
}
.titleSec{
    font-weight: 600;
    font-size: 5.20vw;
    line-height: 7.8125vw;
    top: -4vw;
    left: 31.8vw;
}
.projectsSection{
    display : flex;
    flex-direction : column;
    justify-content : space-evenly;
    align-items : center;
    align-content : center;
    min-height: 100vh;
    width: 100vw;
    z-index: 69;
}
.projectsSection .item{   
    margin-bottom: 30px;
}
.titleProjects{
    height: max(80px,8.333333333333332vw);
    width: 85vw;
    display: flex;
    align-items: flex-end;
    margin-left: 1.5625vw;
}
.titleProjects h1{
    cursor: default;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: max(45px,4.6875vw);
    color: white;
}
.projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(auto-fit, var(--projectBoxSize));
    max-width: 85vw;
    justify-items: center;
}
.projectBox{
    background-color: #2B2B2B;
    width: var(--projectBoxSize);
    height: var(--projectBoxSize);
    border-radius: 2.7777777777777777vh;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}
.projectBox .image{
    min-width: 10vw;
    max-width: 14vw;
    height:  10vw;
    object-fit: cover;
    background-size: cover;
    background-image: url('https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/four-bowls-of-beans-1296x728.jpg?w=1155&h=1528');
}
.projectBox .title{
    margin-top: 1vw;
    font-size: 1.4vw;
}
.projectBox#seeMore{
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;

}
.projectBox#seeMore p{
    font-family: Poppins;
    color: white;
    font-size: 2vw;
}
.copyright{
    height: 5vh;
    width: 85vw;
    margin-top: 2vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self : flex-end;
}
.copyright p{
    font-family: Poppins;
    font-weight: 500;
    font-size: 1vw;
    color: white;
}
@media screen and (max-width: 1200px) {
    .titleProjects{
        justify-content: center;
    }
    .wrapper{
        gap: 30px;
        grid-template-columns: repeat(auto-fit, 245px);
    }
    
    .projectBox{
        width: 245px;
        height: 245px;
        border-radius: 15px;
    }
    .footer p{
        font-size: 18px;
    }
}
.cloud{
    background: #2B2B2B;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
}
.cloud:nth-child(1){
    width: 36.145833333333336vw;
    height: 6.354166666666666vw;
    left: 6.041666666666667vw;
    top: 10%;
}
.cloud:nth-child(2){
    width: 7.395833333333333vw;
    height: 2.7083333333333335vw;
    left: 65.9375vw;
    top: 11.666666666666666%;
}
.cloud:nth-child(3){
    width: 25.208333333333332vw;
    height: 8.645833333333334vw;
    left: 80.83333333333333vw;
    top: 22.59259259259259%;
    
}
.cloud:nth-child(4){
    width: 18.333333333333332vw;
    height: 5.520833333333333vw;
    left: 49.270833333333336vw;
    top: 45.18518518518518%;
}
.cloud:nth-child(5){
    width: 11.979166666666668vw;
    height: 2.5vw;
    left: 11.145833333333334vw;
    top: 39.44444444444444%;
}
.cloud:nth-child(6){
    width: 21.25vw;
    height: 3.125vw;
    left: 69.375vw;
    top: 70.74074074074073%;
}
.cloud:nth-child(7){
    width: 7.395833333333333vw;
    height: 2.7083333333333335vw;
    left: 41.875vw;
    top: 71.48148148148148%;
}
.cloud:nth-child(8){
    width: 22.8125vw;
    height: 6.354166666666666vw;
    left: -2.2916666666666665vw;
    top: 62.22222222222222%;
}
.cloud:nth-child(9){
    width: 15.208333333333332vw;
    height: 3.75vw;
    left: 24.791666666666668vw;
    top: 88.88888888888889%;
}
.cloud:nth-child(10){
    width: 12.291666666666666vw;
    height: 4.166666666666666vw;
    left: 62.39583333333333vw;
    top: 94.62962962962963%;
}