@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	font-kerning: auto;
}
h1,h2,h3,h4,h5,h6,p{
	cursor: default;
}
h1,h2,h3,h4,h5,h6{
	user-select: none;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}
body {
	font-family: "Poppins",sans-serif;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

header{
	height: 10em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5vw 0 5vw;
	min-height: 12em;
}
header h1{
	font-size: 4.5em;
}
header input.search{
	background: #909090;
	border-radius: 2.5em;
	height: 3em;
	width: 20em;
	color: white;
	font-size: 1.4em;
	font-family: Roboto;
	padding: 0 1em 0 1em;
}
.search::placeholder{
	color: white;
}
.search:-ms-input-placeholder, .search::-ms-input-placeholder{
	color: white;
}
header button{
	background: linear-gradient(153.43deg, #6CC2F3 16.67%, rgba(255, 255, 255, 0) 100%), #2D9CDB;
	box-shadow: 0px 4px 4px rgba(45, 156, 219, 0.25);
	border-radius: 50px;
	width: 5em;
	height: 5em;
	cursor: pointer;
}
header button span{
	font-size: 3.2em;
	color: white;
	font-weight: 600;
}
main{
	height: 85vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.noteContainer{
	max-width: 95vw;
	min-width: 94vw;
	display: grid;
	/*flex-direction: row;
	align-content: flex-start;
	flex-wrap: wrap;*/
	grid-template-columns: repeat(auto-fill,32.5em);
	align-content: flex-start;
	justify-content: center;
}
.note{
	margin: 2.5em;
	width: 27.5em;
	height: 27.5em;
	padding: 2em;
	border: 0.1em solid rgba(133, 133, 133, 0.5);
	border-radius: 2.5em;
	display: flex;
	flex-direction: column;
}
.noteTop{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 5px;
	text-overflow: clip;
}
.noteTop .noteTitle{
	font-size: 1.7em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}
.fas.fa-heart{
	color: #cf1b1b;
}
.noteTitle:hover{
	color: #4f4e4c;
}
.note:hover .iconContainer{
	display: flex;
}
.noteTop .iconContainer{
	float: right;
	font-size: 1.7em;
	width: auto;
	display: none;
	width: 4em;
	justify-content: flex-end;
}
.noteTop .iconContainer .fas, .noteTop .iconContainer .far{
	padding-left: 0.3em;
	cursor: pointer;
}
.iconContainer i:hover{
	color: #4f4e4c;
}
.iconContainer .fa-heart:hover{
	color: #900d0d;
}
.noteDesc{ 
	font-size: 1.3em;
	text-overflow: ellipsis;
	overflow: hidden; 
}
.hl{
	background-color: yellow;
}
@media (hover: none) and (pointer: coarse){
	.noteTop .iconContainer{
		display: flex;
	}
}
@media only screen and (max-width:600px){
	.search{
		display:none;
	}
	
}
@media only screen and (max-width: 680px){
	.noteContainer{
		grid-template-columns: 325px;
		max-width: 325px;
		min-width: 325px;
	}

}